doctype html
html
    head
        title Angry Dragon game
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        meta(name="viewport", content="width=800, user-scalable=no")
        link(href="index.css", rel="stylesheet", type="text/css", media="screen")
        link(href="//fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic", rel="stylesheet", type="text/css")
    body(class="bodyMain")
        h1(class="bodyMain__tagLine") —Angry Dragon!
        script(src="index.js")
