html,
body
  padding 0
  margin 0
  border 0
  outline 0

.Auth

  $Auth__Form__z = 100

  &__Overlay
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    background-image url("Auth__Background.png")
    background-position center
    background-repeat no-repeat
    background-size cover
    overflow auto
    text-align center

  &__Container
    min-height 100%
    position relative

  &__Form
    width (893px / 2)
    height (1434px / 2)
    background-image url("Auth__FormBackground.png")
    background-position 0
    background-repeat no-repeat
    background-size cover
    display inline-block
    position relative
    z-index $Auth__Form__z

  &__Shuttle
    width (984px / 2)
    height (552px / 2)
    background-image url("Auth__Shuttle.png")
    background-position 0
    background-repeat no-repeat
    background-size cover
    position absolute
    left 0
    bottom 0
    z-index ($Auth__Form__z - 1)

  &__Dragon
    width (481px / 2)
    height (530px / 2)
    background-image url("Auth__Dragon.png")
    background-position 0
    background-repeat no-repeat
    background-size cover
    position absolute
    top 0
    left 68%
