html,
body
  padding 0
  margin 0
  border 0
  outline 0

.Auth

  $Auth__Form__z = 100

  &__Overlay
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    background-image url("Auth__Background.png")
    background-position center
    background-repeat no-repeat
    background-size cover
    overflow auto
    text-align center
    font-family Lato, sans-serif


  &__Limiter
    min-height 100%
    position relative
    overflow hidden


  &__Plate
    width 893ptr
    height 1434ptr
    background-image url("Auth__FormBackground.png")
    background-position 0
    background-repeat no-repeat
    background-size contain
    display inline-block
    position relative
    z-index $Auth__Form__z


  &__Shuttle
    width 984ptr
    height 552ptr
    background-image url("Auth__Shuttle.png")
    background-position 0
    background-repeat no-repeat
    background-size contain
    position absolute
    left 0
    bottom 0
    z-index ($Auth__Form__z - 1)
    transition opacity linear .5s

    @media (max-height: 1030px) and (max-width: 1310px)
      opacity 0


  &__Dragon
    width 481ptr
    height 530ptr
    background-image url("Auth__Dragon.png")
    background-position 0
    background-repeat no-repeat
    background-size contain
    position absolute
    top 0
    left 68%


  &__Form
    text-align center
    margin 574ptr 152ptr 0 154ptr
    padding 0


  &__Button
    padding 0 20ptr
    margin-bottom 0
    margin-left auto
    margin-right auto
    border 0
    outline 0
    display block
    background-color transparent
    width 491ptr
    background-position 0
    background-repeat no-repeat
    background-size contain
    font-family inherit
    font-size 40ptr
    line-height 42ptr
    color #fff
    text-decoration none
    box-sizing border-box
    cursor pointer

    &_register
      height 196ptr
      margin-top 20ptr
      background-image url("Auth__Button_register.png")

    &_start
      height 150ptr
      margin-top 33ptr
      background-image url("Auth__Button_start.png")

      &::before
        content ''
        display inline-block
        height 100%
        width 0
        vertical-align middle


  &__Valigner
    display inline-block
    vertical-align middle


  &__Message
    padding 0
    margin 38ptr 0 0
    font-size 34ptr
    color #fff


  &__Input
    width 492ptr
    height 85ptr
    background-image url("Auth__Input.png")
    background-position 0
    background-repeat no-repeat
    background-size contain
    position relative
    display inline-block
    margin-bottom 20ptr
